body {
  background: #fafafa;
  font-family: Arial;
  padding: 20px;
}

.container {
  max-width: 550px;
  margin: auto;
}

h1 {
  color: #333;
}

.task-form input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
}

.task-form button {
  padding: 10px 15px;
}

.task-form select {
  margin: 5px;
  padding: 8px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  background: white;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  border: 1px solid #ddd;
  align-items: center;
  justify-content: space-between;
}

.task-list li.completed {
  text-decoration: line-through;
  background: #e0ffe0;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
}

.clear-btn {
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.progress-box {
  margin-top: 20px;
  padding: 15px;
  background: #f3f3f3;
}
